/* Overall styles */
body {
    background-color: blanchedalmond;
}


/* Buttons Container & Buttons */
#button-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2em;
}

.btn {
    margin: 1em;
    width: 66%;
}




/* Main Container is for Side Panel Info & Draw Area */

#main-container {
    display: flex;
}

h3 {
    text-align: center;
}



#info-panel {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 250px;
    height: 600px;
    background-color: whitesmoke;
    margin: 0 1em;
    padding: 1em;
}



span {
    display: flex;
    flex: row wrap;
}


#draw-area {
    /* position: relative; */
    height: 600px;
    width: 600px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.shape {
    opacity: 50%;
    position: absolute;
}

.rectangle {
    background-color:seagreen;
}

.square {
    background-color: red;
}

.circle {
    background-color: rebeccapurple;
    border-radius: 50%;
}

.triangle {
    border-bottom: 100px solid yellow;
    border-right: 100px solid transparent;
}