/* Overall styles */
body {
    background-color: blanchedalmond;
}


/* Buttons Container & Buttons */
#button-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2em;
}

.btn {
    margin: 1em;
    width: 66%;
    opacity: 75%;
}

#circle-button{
    color: white;
    border-color: #6f42c1;
    background-color:#6f42c1;
}

#circle-button:hover {
    color: white;
    border-color: #59359A;
    background-color: #59359A;
}

#triangle-button{
    color: white;
}


/* Main Container is for Side Panel Info & Draw Area */

#main-container {
    display: flex;
}

h3 {
    text-align: center;
}

#info-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 250px;
    height: 602px; /* Uses 602 to match draw-area height */
    background-color:aliceblue;
    margin: 0 1em;
    padding: 1em;
}


span {
    display: flex;
    flex: row wrap;
}


#draw-area {
    position: relative;
    height: 602px; /* Uses 602 to get a 'true' draw-area of 600px, allowing 2 px to get eaten by the border */
    width: 602px; /* Uses 602 to get a 'true' draw-area of 600px, allowing 2 px to get eaten by the border */
    border: 1px solid black;
    background-color: aliceblue;
}

.shape {
    opacity: 75%;
    position: absolute;
}

.rectangle {
    background-color:#198754;
}

.square {
    background-color: #dc3545;
}

.circle {
    background-color: #6f42c1;
    border-radius: 50%;
}

.triangle {
    border-color: #ffc107
    /* border-bottom: 100px solid #ffc107;
    border-right: 100px solid transparent; */
}